* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  width: 50%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 3px 24px 0 rgb(0 0 0 / 16%);
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 0.5rem;
}

.field-wrapper > input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
}
.field-wrapper > input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
}

.field-wrapper > input[type="radio"] {
  align-self: flex-start;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
}

.options-wrapper {
  display: flex;
  gap: 1rem;
}

.option {
  display: flex;
  gap: 0.5rem;
}

.mx-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.submit-btn {
  width: 300px;
  padding: 10px;
  border: 0;
  background-color: #ffe11e;
  border-radius: 4px;
}
